p{
font-size: 12px;
font-weight: bold;
margin-top: 0em; 
margin-bottom: 0em; 
}
.s{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1em; 
    font-weight: 450;

}
body{
    font-family: Montserrat;
}
h1{
    font-size: 44px;
}